* {
    box-sizing: border-box;
}

.menu {
	margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B0C4DE;
    border: 1px solid black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5182c2;
    font-size: 175%;
    margin: 2%;
}

h2 {
    margin-top: 0;
    width: 100px;
    float: right;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    color: white;
    font-size: 125%;
    text-align: center;
}

p {
    padding-left: 1em;
    padding-right: 1em;
    clear: right;
}

#chicken {
    background-color: 	#4eb4a3;
}

#beef {
    background-color: #da5d47;
}

#sushi {
    background-color: #f3c580	;
}

/*Desktop version*/
@media (min-width: 992px) {
    .menu {
        width: 31.33%;
        float: left;
    }
}

/*Tablet version*/
@media (min-width: 768px) and (max-width: 991px) {   
    .menu {
        width: 48%;
        float: left;
    }
    .menu:last-child {
        width: 98%;
    }
}

/*Mobile version*/
@media (max-width: 767px) {
    .menu {
        width: 98%;
        float: left;
    }
}