* {
    box-sizing: border-box;
}

.menu {
	float: left;
	margin-right: 1.5%;
    margin-bottom: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B0C4DE;
    text-align: center;
    border: 1px solid;
}

.menu:last-child {
	margin-right: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5182c2;
    font-size: 175%;
    margin: 2%;
}

h2 {
    margin-left: 75%;
    margin-right: 0;
    margin-top: 0;
    width: 25%;
    border: 1px solid black;
    color: white;
    font-size: 125%;
}

p {
    padding-left: 1%;
    padding-right: 1%;
}

#chicken {
    background-color: 	#4eb4a3;
}

#beef {
    background-color: #da5d47;
}

#sushi {
    background-color: #f3c580	;
}

/*Desktop version*/
@media (min-width: 992px) {
    .menu {
        width: 32.33%;
    }
}

/*Tablet version*/
@media (min-width: 768px) and (max-width: 991px) {   
    .menu {
        width: 48.5%;
    }
    .menu:nth-child(2) {
        margin-right: 0;
    }
    .menu:last-child {
        width: 100%;
    }
}

/*Mobile version*/
@media (max-width: 767px) {
    .menu {
        width: 100%;
    }
}